<%= form_for @problem do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :category %><br>
    <%= f.collection_select(:category, Category.all, :id, :name) %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.label :hint %><br>
    <%= f.text_area :hint %>
  </p>

  <p>
    <%= f.label :point %><br>
    <%= f.number_field :point %>
  </p>

  <p>
    <%= f.label :flag %><br>
    <%= f.text_field :flag %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
